<%= form_with(model: @board, local: true, class: "ui form") do |f|%>

<div class= "field">
  <%=f.label :name%>
  <%= f.text_field :board_name, class: "input"%>
</div>
<%=f.submit nil, class: "ui blue button"%>
<% end %>