<h1>all the boards</h1>
<hr />

  <ol>
<% @boards.each do |b|%>
  <li>
    <%= link_to b.board_name, board_path(b) %>
  </li>
<% end %>
  </ol>

  <%= link_to "Create Board", new_board_path, class: "ui green button"%>

