<h1>all the boards</h1>
<hr />

<div class = "card_section">
    <% @boards.each do |b|%>

  <div class = "ui card">
    <div class = "content">
      <div class = "header">
        List Name: <%= b.name%>
      </div>
      <div class = "description">
        <%b.lists.each do |l| %>
            <h4><%=l.name%></h4>
        <%end%>
      </div>
    </div>
    <div class = "extra content">
      <div class = "ui two buttons">
        
        <%= link_to "View", board_path(b), class: "ui button green inverted"%>
        <%= link_to "Delete", board_path(b), method: :delete, class: "ui button orange inverted"%>
      </div>
    </div>
  </div>
    <% end%>

</div>


